.theme-box {
  min-height: 100vh;
}

.header-bar {
  height: 50px;
  position: fixed;
  z-index: 100;
}

.body-page {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  box-sizing: border-box;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 100;
}

.title-sidebar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
